#hero-container {
    // background-color: $green;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../images/code.jfif");
    background-size: cover;
    padding-top: 10vh;
    height: 85vh;
}

#hero-title {
    color: $white;
    width: 800px;
}

#hero-content-container {
    padding-top: 25vh;
    display: flex;
    align-items: center;
}

#hero-buttons {
    margin-top: 5vh;
}

.hero-button {
  padding: 8px 22px 8px 22px;
  background-color: $blue;
  font-size: 0.9375rem;
  color: #f6f4f3;
  border-radius: 4px;
  border-width: 0;
}

.hero-button:hover {
  background-color: $light-blue;
}

#resume-button {
    margin-right: 25px;
}

#avatar-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.arrow {
  text-align: center;
  margin: 8% 0;
  color: $white;
  position: absolute;
  left: 50%;
  bottom: 5%;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}