// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Global variables
@import 'colors';
@import 'spacing';
@import 'font';

// Components
@import 'header/header.scss';
@import 'hero/hero.scss';

.content {
    background-color: $red;
    width: 100%;
    height: 400px;
}