// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Global variables
@import 'colors';
@import 'spacing';
@import 'font';

// Components
@import 'header/header.scss';

.content {
    height: 200px;
    background-color: grey;
}