.projects-container {
    width: 100%;
    min-height: 100vh;
    background-color: $green;
    padding: 15vh 300px 10vh 300px;
}

#projects-title {
    color: $white;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.project-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 1px -1px #0003, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
    -moz-box-shadow: 0px 2px 1px -1px #0003, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
    box-shadow: 0px 2px 1px -1px #0003, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;    
    padding: 25px;
}

.slide-container {
    width: 297px;
    height: 600px;
    margin-bottom: 26px;
}

.scrapit-slide {
    width: 297px;
    height: 600px;
    padding: 0px 10px;
}

.indicators {
    padding: 0px
}

.project-text-container {
    width: 100%;
    height: 100%;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-title {
    color: $dk-blue;
    width: 100%;
    text-align: center;
}

.project-text {
    color: $dk-blue;
    width: 100%;
    font-size: 22px;
}