.testimonials-container {
    background-color: $white;
    width: 100%;
    padding: 15vh 150px 10vh 150px;
    min-height: 100vh;
}

#testimonials-title {
    color: $dk-blue;
    text-align: center;
    margin-bottom: 25px;
}

.testimonials-fade-in {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
