#header-container {
    background-color: $green;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    height: 10vh;
}

.container {
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: $green;
}

#header-title {
    color: $white;
    text-decoration: none;
    font-family: $font-primary;
    font-size: 32px;
}

#nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
}

.nav-link {
    padding: 0;
    color: $white;
    text-decoration: none;
}

.nav-link:hover {
    color: $red;
}

#social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
}

.social-icon {
    font-size: 36px;
    color: $white;
    margin-left: 28px
}

.social-icon:hover {
    color: $red;
}