#header-container {
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    height: 10vh;
    transition: background-color 0.6s ease-in-out;
}

#header-container-visible {
    background-color: $green;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    height: 10vh;
    transition: background-color 0.6s ease-in-out;
}

.container {
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    transition: background-color 0.6s ease-in-out;
}

.header-visible {
    display: flex;
    justify-content: space-between;
    transition: background-color 0.6s ease-in-out;
}

#header-title {
    color: $white;
    text-decoration: none;
    font-family: $font-primary;
    font-size: 32px;
    font-weight: 700;
}

#nav-links {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
}

.nav-link {
    padding: 0;
    color: $white;
    text-decoration: none;
}

.nav-link:hover {
    color: $off-white;
}

#social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
}